<div class="text-center">
  <p><img src="{{avatar_url}}" alt="{{name}}"></p>
  <p>
    <a href="{{url}}" target="_blank">
      <h2>{{name}}</h2>
    </a>
    <a href="http://twitter.com/{{twitter_screen_name}}">{{twitter_screen_name}}</a>
  </p>
  <p><strong>Location: </strong> {{location}}</p>
  {{#if website_url}}
  <p>Website: {{website_url}}</p>
  {{/if}}
  <p><em>Likes Count:</em> {{likes_count}} </p>
  <p><em>Likes Received: </em> {{likes_received_count}}</p>
  <p><em>Shots Count: </em> {{shots_count}}</p>
</div>


<hr>
  <div class="center-block text-center">

    <button class="btn btn-primary btn-small back" type="submit">Back</button>

  </div>
<hr>

<div class="player-shots">
</div>

<!--
  avatar_url: "https://d13yacurqjgara.cloudfront.net/users/536/avatars/normal/Screen_Shot_2014-06-05_at_16.43.20.png?1401983027"
  comments_count: 1839
  comments_received_count: 5529
  created_at: "2010/01/19 07:34:47 -0500"
  drafted_by_player_id: 64
  draftees_count: 26
  followers_count: 9912
  following_count: 1452
  id: 536
  likes_count: 8050
  likes_received_count: 58225
  location: "Glasgow, Scotland."
  name: "James McDonald"
  rebounds_count: 57
  rebounds_received_count: 93
  shots_count: 580
  twitter_screen_name: "jamesm"
  url: "http://dribbble.com/jamesmcdonald"
  username: "jamesmcdonald"
  website_url: "http://www.enthusiastic.co"
-->
<div class="row"></div>
<hr>
  <div class="center-block text-center">

    <button class="btn btn-primary btn-small back" type="submit">Back</button>

  </div>
<hr>
