<div class="text-center" data-id="{{id}}">
    <p><img src="{{image_url}}" class="img-rounded" width="100%"></p>
    <p><em>Likes: </em> {{likes_count}} | <em>Views: </em> 2042</p>
    <p><a href="{{url}}" target="_blank"><strong>{{title}}</strong></a></p>
    <p>{{{description}}}</p> <br>
    <p><img src="{{player.avatar_url}}" width="32"> <a href="{{player.url}}" class="player-link" data-id="{{player.id}}">{{player.name}}</a> <em>from </em> {{player.location}}</p>
  </div>

<hr>
  <div class="center-block text-center">

    <button class="btn btn-primary btn-small back" type="submit">Back</button>

  </div>
<hr>
