{{#each model}}
  <div class="text-center">
    <p><img src="{{image_teaser_url}}" class="img-rounded" width="50%"></p>
    <p><em>Likes: </em> {{likes_count}} | <em>Views: </em> 2042</p>
    <p><a href="#" class="single" data-id="{{id}}"><strong>{{title}}</strong></a></p>
    <p>{{{description}}}</p> <br>
    <p><img src="{{player.avatar_url}}" width="32"> <a href="{{player.url}}" class="player-link" data-id="{{player.id}}">{{player.name}}</a> <em>from </em> {{player.location}}</p>
    <hr>
  </div>
{{/each}}
<div class="pagination center-block text-center">
  <ul class="list-inline">
    <li><a href="#" data-id="1" class="btn btn-primary btn-sm">1</a></li>
    <li><a href="#" data-id="2" class="btn btn-primary btn-sm">2</a></li>
    <li><a href="#" data-id="3" class="btn btn-primary btn-sm">3</a></li>
    <li><a href="#" data-id="4" class="btn btn-primary btn-sm">4</a></li>
    <li><a href="#" data-id="5" class="btn btn-primary btn-sm">5</a></li>
    <li><a href="#" data-id="6" class="btn btn-primary btn-sm">6</a></li>
    <li><a href="#" data-id="7" class="btn btn-primary btn-sm">7</a></li>
    <li><a href="#" data-id="8" class="btn btn-primary btn-sm">8</a></li>
    <li><a href="#" data-id="9" class="btn btn-primary btn-sm">9</a></li>
    <li><a href="#" data-id="10" class="btn btn-primary btn-sm">10</a></li>
    <li><a href="#" class="btn btn-primary btn-sm next">Next</a></li>
  </ul>
</div>
